@using Microservice.Admin.FrontEnd.Models.Dtos.ProductDtos;
@model GetAllProductsDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="layout-px-spacing">

    <div class="row layout-top-spacing" id="cancel-row">

        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-warning">
                <b>@ViewBag.Message</b>
            </div>
        }

        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <div class="widget-content widget-content-area br-6">
                <div class="table-responsive mb-4 mt-4">
                    <div id="zero-config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                        <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="zero-config_length"><label>نتایج :  <select name="zero-config_length" aria-controls="zero-config" class="form-control"><option value="7">7</option><option value="10">10</option><option value="20">20</option><option value="50">50</option></select></label></div></div><div class="col-sm-12 col-md-6"><div id="zero-config_filter" class="dataTables_filter"><label><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg><input type="search" class="form-control" placeholder="جستجو کنید..." aria-controls="zero-config"></label></div></div></div><div class="row">
                            <div class="col-sm-12">
                                <table id="zero-config" class="table table-hover dataTable" style="width: 100%;" role="grid" aria-describedby="zero-config_info">
                                    <thead>
                                        <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="zero-config" rowspan="1" colspan="1" aria-sort="ascending" aria-label="نام: activate to sort column descending" style="width: 132px;">ایدی</th>
                                            <th class="sorting" tabindex="0" aria-controls="zero-config" rowspan="1" colspan="1" aria-label=" موقعیت : activate to sort column ascending" style="width: 294px;"> نام </th>
                                            <th class="sorting" tabindex="0" aria-controls="zero-config" rowspan="1" colspan="1" aria-label=" دفتر : activate to sort column ascending" style="width: 74px;"> قیمت </th>
                                            <th class="sorting" tabindex="0" aria-controls="zero-config" rowspan="1" colspan="1" aria-label="سن: activate to sort column ascending" style="width: 71px;">موجودی</th>
                                            <th class="sorting" tabindex="0" aria-controls="zero-config" rowspan="1" colspan="1" aria-label=" تاریخ شروع : activate to sort column ascending" style="width: 145px;"> توضیحات </th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="html5-extension" rowspan="1" colspan="1" aria-sort="ascending" aria-label="نام: activate to sort column descending" style="width: 86px;">عملیات </th>

                                    </thead>
                                    <tbody>


                                        @foreach (var item in Model.Items)
                                        {

                                            <tr role="row">
                                                <td class="sorting_1">@item.Id</td>
                                                <td>@item.Name</td>
                                                <td> @item.Price </td>
                                                <td>@item.AvailableStock</td>
                                                <td>@item.Description</td>


                                                <td>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-dark btn-sm">بیشتر</button>
                                                        <button type="button" class="btn btn-dark btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference25" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                                        </button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuReference25">
                                                            <a class="dropdown-item" asp-action="edit" asp-controller="Product" asp-route-id="@item.Id">ویرایش</a>
                                                            <a class="dropdown-item" asp-action="RemoveProduct" asp-controller="Product" asp-route-id="@item.Id">حذف</a>
                                                      @*       <a class="dropdown-item" asp-page="create" asp-route-id="@item.Id">افزودن فرزند</a>
                                                            <a class="dropdown-item" asp-page="index" asp-route-id="@item.Id">مشاهده فرزندان</a> *@

                                                        </div>
                                                    </div>
                                                </td>


                                                @* <td><a asp-action="RemoveProduct" asp-controller="Product" asp-route-Id="@item.Id" ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle table-cancel"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg></a></td> *@
                                            </tr>
                                        }

                                    </tbody>
                                  
                                </table>
                            </div>
                        </div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="zero-config_info" role="status" aria-live="polite">صفحه 1 از 4</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="zero-config_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="zero-config_previous"><a href="#" aria-controls="zero-config" data-dt-idx="0" tabindex="0" class="page-link"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg></a></li><li class="paginate_button page-item active"><a href="#" aria-controls="zero-config" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="zero-config" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="zero-config" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="zero-config" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item next" id="zero-config_next"><a href="#" aria-controls="zero-config" data-dt-idx="5" tabindex="0" class="page-link"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></a></li></ul></div></div></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


@section Scripts
{

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script>

        function Rename(productId, name) {
            $("#ProductId").val(productId);
            $("#Name").val(name);

            $('#renameproduct').modal('show');
        }

    </script>
}


